@import "bootstrap";

.navbar-brand {
  font-weight: bold;
}

body {
  padding-top: 70px;
}

.login-panel {
  width: 600px;
}

a:visited {
  color: #fff;
}

.navbar-brand > a:visited {
  color: #dbbce0;
}

li {
  list-style-type: none;
}

.thumbnail.events {
  cursor: pointer;
}
