<div class="container">
    <h1>Lista de Eventos</h1>
    {{#each model as |event|}}
        <p>{{event.name}}</p>
        <p>{{event.date}}</p>
        <p>{{event.description}}</p>
        {{#if event.picture_url}}
            <img src={{event.picture_url}}/>
        {{/if}}
    {{/each}}
</div>
