<div class="row">
  <div class="col-md-4">
    {{#each model as |event|}}
      {{#link-to 'events.event.show' event tagName='li' class="thumbnail events" }}
        <img src= {{event.picture}} alt="...">
        <div class="caption">
          <h3>{{event.name}}</h3>
          <p>{{event.description}}</p>
        </div>
      {{/link-to}}
    {{/each}}
  </div>
  <div class="col-md-8">
    {{outlet}}
  </div>

</div>
